day01/input.txt
day02/input.txt
day03/input.txt
day04/input.txt
day05/input_rules.txt
day05/input_updates.txt
day06/input.txt
day07/input.txt
day08/input.txt
day09/input.txt
day10/input.txt
day12/input.txt
day13/input.txt
day14/input.txt
day14/tree_images/
day15/input_map.txt
day15/input_moves.txt
day16/input.txt
day18/input.txt
day18/test.py